@model BookLive.Models.ChangePhotoViewModel
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using BookLive.Models
@{
    byte[] photo = null;
    if (User.Identity.IsAuthenticated)
    {
        var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
        var manager = new UserManager<ApplicationUser>(userStore);
        var user = manager.FindById(User.Identity.GetUserId());

        photo = user.UserPhoto;
    }
}
@{
    ViewBag.Title = "Change Photo";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePhoto", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Photo Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Current Photo", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <img src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
                margin: auto;
                -moz-border-radius: 60px;
                border-radius: 100px;
                padding: 6px;
                box-shadow: 0px 0px 20px #888;" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserPhoto, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change photo" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}