@model IEnumerable<BookLive.Models.ApplicationUser>
@{
    ViewBag.Title = "Browse";
}

<div class="row">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <table class="table table-bordered table-hover table-responsive">
        @{
            <tr>
                <th>
                </th>
                <th>
                    Email
                </th>
                <th>
                    Title
                </th>
                <th>
                    Location
                </th>
                <th>
                    Price Range
                </th>
                <th>
                    Bio
                </th>
                <th>
                    Video
                </th>
                <th>
                    Contact
                </th>
            </tr>
            foreach (var user in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Action("TalentPhotoSamples", "Home", new { userId = user.Id } )" style="width:80px;height:80px; background: #FFFFFF;
                            margin: auto;
                            -moz-border-radius: 60px;
                            border-radius: 100px;
                            padding: 6px;
                            box-shadow: 0px 0px 20px #888;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.UserTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.PriceRange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Bio)

                    </td>
                    <td>
                        @if (user.UserVideo == null)
                        {
                            <p>No clip added.</p>
                        }
                        else
                        {
                            
                            <video width="100" height="80" controls>
                                <source src="@Url.Action("TalentVideoSamples", "Home", new { userId = user.Id })" type="video/mp4">
                                <source src="@Url.Action("TalentVideoSamples", "Home")" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>
                        }

                    </td>
                    <td>
                        @Html.ActionLink("Send email here!", "InitEmail", "Home", new {talentId = user.Id}, new { })
                    </td>
                </tr>
            }
        }
    </table>
</div>