@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using BookLive.Models
@{
    var title = string.Empty;
    var bio = string.Empty;
    var location = string.Empty;
    var priceRange = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
        var manager = new UserManager<ApplicationUser>(userStore);
        var user = manager.FindById(User.Identity.GetUserId());

        title = user.UserTitle;
        bio = user.Bio;
        location = user.Location;
        priceRange = user.PriceRange;
    }
}
@{
    ViewBag.Title = "Planner Page";
}

<div class="jumbotron">
    <h1>
        <img src="@Url.Action("UserPhotos", "Home" )" style="width:160px;height:160px; background: #FFFFFF;
            margin: auto;
            -moz-border-radius: 60px;
            border-radius: 100px;
            padding: 6px;
            box-shadow: 0px 0px 20px #888;" />
        @User.Identity.GetUserName()
    </h1>
    <h2>Planner</h2>
    <p class="lead">@title</p>
</div>

<div class="row">
    <div class="row">
        <div class="col-md-4">
            <h2>Bio</h2>
            <p>@bio</p>
        </div>
        <div class="col-md-4">
            <h2>Location</h2>
            <p>@location</p>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h2>Price Range</h2>
                <p>@priceRange</p>
            </div>
        </div>
    </div>
</div>
